<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.xcode.di</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>New Project with DI Container Configuration / Common Extensions / Carthage Libs</string>
	<key>SortOrder</key>
	<integer>0</integer>
	<key>Ancestors</key>
	<array>
		<string>com.hugeinc.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___-Debug</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Carthage</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>/usr/local/bin/carthage copy-frameworks</string>
					<key>InputFiles</key>
					<array>
						<string>$(SRCROOT)/Carthage/Build/iOS/Alamofire.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/AlamofireImage.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/Swinject.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/JSONModelKit.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/FlightAnimator.framework</string>
						<string>$(SRCROOT)/Carthage/Build/iOS/FlightLayout.framework</string>
					</array>
				</dict>
				<dict>
					<key>Name</key>
					<string>Model Generation</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>SCRIPT_LOC=$(find $SRCROOT/.. -name modelgen-swift.py | head -n 1)
python $SCRIPT_LOC -o $PROJECT_DIR</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Swinject</string>
				<string>Alamofire</string>
				<string>FlightLayout</string>
				<string>FlightAnimator</string>
				<string>JSONModelKit</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>$(PROJECT_DIR)/Carthage/Build/iOS</string>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-DDEBUG_ENV</string>
			</dict>
			<key>Testing</key>
			<dict>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-DTEST_ENV</string>
			</dict>
			<key>Staging</key>
			<dict>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-DSTAGING_ENV</string>
			</dict>
			<key>Production</key>
			<dict>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-DPROD_ENV</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-DPROD_ENV</string>
			</dict>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../Cartfile</string>
		<string>../Carthage/Build/iOS/Swinject.framework</string>
		<string>../Carthage/Build/iOS/Alamofire.framework</string>
		<string>../Carthage/Build/iOS/AlamofireImage.framework</string>
		<string>../Carthage/Build/iOS/FlightLayout.framework</string>
		<string>../Carthage/Build/iOS/FlightAnimator.framework</string>
		<string>../Carthage/Build/iOS/JSONModelKit.framework</string>
		<string>Application/AppDelegate.swift</string>
		<string>Services/Services.swift</string>
		<string>Extensions/DateFormatter+Extras.swift</string>
		<string>Extensions/NSMutableAttributedString+PSD.swift</string>
		<string>Extensions/UIColor+Hex.swift</string>
		<string>ViewModels/ViewModelDefinitions.swift</string>
		<string>Extensions/UIView+Geometry.swift</string>
		<string>UI/BaseViewController.swift</string>
		<string>UI/BaseCollectionViewCell.swift</string>
		<string>Model</string>
		<string>Services/ServicesDefinitions.swift</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Cartfile</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Source/Frameworks/Cartfile</string>
			<key>SortOrder</key>
			<integer>1</integer>
		</dict>
		<key>../Carthage/Build/iOS/Alamofire.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Source/Frameworks/AlamoFire.framework</string>
			<key>SortOrder</key>
			<integer>2</integer>
		</dict>
		<key>../Carthage/Build/iOS/Swinject.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Source/Frameworks/Swinject.framework</string>
			<key>SortOrder</key>
			<integer>3</integer>
		</dict>
		<key>../Carthage/Build/iOS/FlightLayout.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Source/Frameworks/FlightLayout.framework</string>
			<key>SortOrder</key>
			<integer>4</integer>
		</dict>
		<key>../Carthage/Build/iOS/FlightAnimator.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Source/Frameworks/FlightAnimator.framework</string>
			<key>SortOrder</key>
			<integer>4</integer>
		</dict>
		<key>../Carthage/Build/iOS/JSONModelKit.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Source/Frameworks/JSONModelKit.framework</string>
			<key>SortOrder</key>
			<integer>5</integer>
		</dict>
		<key>../Carthage/Build/iOS/AlamofireImage.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Source/Frameworks/AlamofireImage.framework</string>
			<key>SortOrder</key>
			<integer>5</integer>
		</dict>
		<key>Application/AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<string>Application</string>
			<key>Path</key>
			<string>Source/Application/AppDelegate.swift</string>
			<key>SortOrder</key>
			<integer>4</integer>
		</dict>
		<key>ViewModels/ViewModelDefinitions.swift</key>
		<dict>
			<key>Group</key>
			<string>ViewModels</string>
			<key>Path</key>
			<string>Source/ViewModels/ViewModelDefinitions.swift</string>
			<key>SortOrder</key>
			<integer>4</integer>
		</dict>
		<key>Model</key>
		<dict>
			<key>Group</key>
			<string>ViewModels</string>
			<key>Path</key>
			<string>Source/ViewModels/Model/</string>
			<key>SortOrder</key>
			<integer>5</integer>
		</dict>
		<key>Extensions/UIColor+Hex.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
			<key>Path</key>
			<string>Source/Extensions/UIColor+Hex.swift</string>
			<key>SortOrder</key>
			<integer>6</integer>
		</dict>
		<key>Extensions/UIView+Geometry.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
			<key>Path</key>
			<string>Source/Extensions/UIView+Geometry.swift</string>
			<key>SortOrder</key>
			<integer>7</integer>
		</dict>
		<key>Extensions/DateFormatter+Extras.swift</key>
		<dict>
			<key>Group</key>
			<string>Extensions</string>
			<key>Path</key>
			<string>Source/Extensions/DateFormatter+Extras.swift</string>
			<key>SortOrder</key>
			<integer>9</integer>
		</dict>
		<key>Extensions/NSMutableAttributedString+PSD.swift</key>
		<dict>
			<key>Group</key>
			<string>Extensions</string>
			<key>Path</key>
			<string>Source/Extensions/NSMutableAttributedString+PSD.swift</string>
			<key>SortOrder</key>
			<integer>10</integer>
		</dict>
		<key>UI/BaseViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UI</string>
				<string>Shared</string>
			</array>
			<key>Path</key>
			<string>Source/UI/Shared/BaseViewController.swift</string>
			<key>SortOrder</key>
			<integer>11</integer>
		</dict>
		<key>UI/BaseCollectionViewCell.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>UI</string>
				<string>Shared</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Source/UI/Shared/Views/BaseCollectionViewCell.swift</string>
			<key>SortOrder</key>
			<integer>12</integer>
		</dict>
		<key>Services/Services.swift</key>
		<dict>
			<key>Group</key>
			<string>Services</string>
			<key>Path</key>
			<string>Source/Services/Services.swift</string>
			<key>SortOrder</key>
			<integer>13</integer>
		</dict>
		<key>Services/ServicesDefinitions.swift</key>
		<dict>
			<key>Group</key>
			<string>Services</string>
			<key>Path</key>
			<string>Source/Services/ServicesDefinitions.swift</string>
			<key>SortOrder</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>
